SPRING_DATASOURCE_RESOURCE_USERNAME=
SPRING_DATASOURCE_RESOURCE_PASSWORD=
SPRING_DATASOURCE_RESOURCE_URL=

SPRING_DATASOURCE_AUTHEN_USERNAME=
SPRING_DATASOURCE_AUTHEN_PASSWORD=
SPRING_DATASOURCE_AUTHEN_URL=

JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=

SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
